form{
    margin: 0 200px;
    margin-top: 200px;  
    padding: 30px;
}
.form img {
   width: 300px;
   height: 107px; 
   margin-bottom: 0%;
   margin-left: 230px; 
}
.form {
    margin :0 300px;
    background-image: linear-gradient(to bottom, rgb(0, 183, 255), rgb(0, 68, 255)) ;
    opacity: 0.9;
}

form label p {
    margin-bottom: 0;
    margin-top: 10px;
    color : white;
}

form button {
    margin-top: 20px;
}

form button p {
    margin-bottom: 0;
    color :rgb(255, 255, 255);
}